:root {
  --primary-one: hsl(10, 79%, 65%);
  --primary-two: hsl(186, 34%, 60%);
  --neutral-one: hsl(25, 47%, 15%);
  --neutral-two: hsl(28, 10%, 53%);
  --neutral-three: hsl(27, 66%, 92%);
  --neutral-four: hsl(33, 100%, 98%);
}
